.hex__brand {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hex__brand div {
    flex: 1;
    display: flex;

    min-width: 120px;
    max-width: 150px;

    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;

    align-items: center;
    justify-content: center;
}

.hex__brand img {
    width: 256px;
    height: 192px;
}

.hex__footer-copyright {
    width: 100%;
    text-align: center;

    margin-top: 2rem;
    margin-bottom: 7rem;
}

.hex__footer-copyright p {
    color: #fff;

    font-size: 12px;
    font-family: var(--font-family);
    
    line-height: 15px;
}