.hex__bookPage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: var(--gradient-bar);
    align-items: center;
}

.hex__bookPage-nav img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.hex__bookPage-nav {
    display: flex;
    margin-left: 2rem;
}

.hex__bookPage-btn {
    color: #8d00eb;
    background: #fff700;

    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family);

    padding: 0.5rem 1rem;
    min-width: 150px;
    line-height: 30px;
    border-radius: 2rem;

    margin-top: 50px;

    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    align-items: center;
}

.hex__bookPage-header-btn {
    color: #8d00eb;
    background: #fff700;

    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family);

    padding: 0.5rem 1rem;
    min-width: 150px;
    line-height: 30px;
    border-radius: 2rem;

    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 50px;

    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    align-items: center;
}

.hex__bookPage-bookMark {
    color: #1500ff;
    background: #09ff00;

    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family);

    padding: 0.5rem 1rem;
    min-width: 150px;
    line-height: 30px;
    border-radius: 2rem;

    margin-top: 50px;
    border: none;
    cursor: pointer;
    outline: none;
}

.hex__bookPage-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 2rem 0 2rem;
    align-items: center;
}

.hex__bookPage-heading h1 {
    font-size: 34px;
    font-weight: 800;
    font-family: var(--font-family);

    max-width: 510px;
    text-align: center;
}

.hex__bookPage-page {
    display: flex;
    flex-direction: column;

    margin-left: 28%;
    margin-right: 28%;

    background: palegoldenrod;
    padding-bottom: 1cm;

    text-align: left;
}

.hex__bookPage-pageNumber {
    text-align: center;
}

.hex__bookPage-pageChange {
    text-align: center;
}

.hex__bookPage-pageChange:last-child {
    padding-bottom: 10rem;
}

.hex__bookPage-page p {
    margin-top: 1.5rem;
    margin-left: 9%;
    margin-right: 9%;
}

.hex__bookPage-page h1 {
    color: brown;

    margin-top: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.hex__bookPage-page p:first-child {
    margin-top: 4rem;
}

@media screen and (max-width: 990px) {
    .hex__bookPage-page {
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .hex__bookPage-pageChange {
        align-items: center;
        margin-left: 11rem;
    }

    .hex__bookPage-btn, .hex__bookPage-bookMark {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-bottom: 1px;
    }
}

@media screen and (max-width: 770px) {
    .hex__bookPage-page h1 {
        font-size: 30px;
        margin-top: 4rem;
        margin-left: 4rem;
    }
}

@media screen and (max-width: 650px) {
    .hex__bookPage {
        flex-direction: column;
    }

    .hex__bookPage-nav {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .hex__bookPage {
        display: flex;
        flex-direction: column;
    }

    .hex__bookPage-nav {
        font-size: 14px;
        line-height: 28px;
    }

    .hex__bookPage-heading h1 {
        font-size: 24px;
    }

    .hex__bookPage-page {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .hex__bookPage-page h1 {
        font-size: 20px;
        margin-top: 4rem;
        margin-left: 2rem;
    }

    .hex__bookPage-page p {
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .hex__bookPage-pageChange {
        align-items: center;
        margin-left: 3rem;
    }

    .hex__bookPage-btn, .hex__bookPage-bookMark {
        margin-top: 2rem;
        margin-left: 4rem;
        margin-bottom: 1px;
    }
}