.hex__library {
    display: flex;
    flex-direction: column;
}

.hex__library-heading {
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}

.hex__library-heading h1 {
    font-size: 62px;
    line-height: 75px;
    font-family: var(--font-family);
    font-weight: 800;
    text-align: center;
}

.hex__library-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.hex__library-container_group {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .hex__library-container {
        flex-direction: column-reverse;
    }

    .hex__library-container_group {
        margin: 2rem 0;
        width: 48%;
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .hex__library-container_group {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .hex__library-heading h1 {
        font-size: 46px;
        line-height: 52px;
    }
}

@media screen and (max-width: 550px) {
    .hex__library-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

}