.hex__storeNav {
    background: var(--gradient-store-bar);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.hex__storeNav-btn img {
    width: 100px;
    height: 100px;

    margin-top: 25px;
}

.hex__storeNav-btn {
    display: flex;
    margin-left: 2rem;
}

.hex__storeNav-btn button, .hex__storeNav-link {
    color: #8d00eb;
    background: #fff700;

    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family);

    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 50px;

    padding: 0.5rem 1rem;
    min-width: 150px;
    line-height: 30px;

    border: none;
    border-radius: 2rem;

    text-align: center;
    align-items: center;

    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 650px) {
    .hex__storeNav {
        flex-direction: column;
    }

    .hex__storeNav-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .hex__storeNav {
        display: flex;
        flex-direction: column;
    }

    .hex__storeNav-btn {
        display: flex;
        align-items: center;
        flex-direction: column;

        margin-top: 5px;
    }

    .hex__storeNav-link {
        font-size: 18px;
        line-height: 35px;

        margin-top: 15px;
        margin-left: 5px;
        margin-bottom: 15px;
    }
}