.hex__whathex {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    padding-bottom: 3rem;
}

.hex__whathex-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 2rem 0 2rem;
}

.hex__whathex-heading h1 {
    font-size: 34px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
    text-align: center;
}

.hex__whathex-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

@media screen and (max-width: 850px) {
    .hex__whathex-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .hex__whathex-heading p {
        margin-top: 1rem;
    }

    .hex__whathex-heading h1 {
        font-size: 30px;
        line-height: 40px;
        margin-left: 90px;
    }
}

@media screen and (max-width: 650px) {
    .hex__whathex-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}