.books_section {
    display: flex;
    flex-direction: column;

    height: 25rem;
    width: 27rem;
}

.books_section-text {
    color: greenyellow;

    font-size: 24px;
    font-weight: 800;
    font-family: var(--font-family);

    text-align: center;

    margin-top: 1rem;

    line-height: 45px;
}

.books_section-nav {
    display: flex;
    flex-direction: row;

    margin-top: 5rem;
}

.books_section-nav_buttons {
    display: flex;
    flex-direction: column;
}

.books_section-nav_buttons-button {
    color: #8d00eb;
    background: #fff700;

    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family);
    
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    min-width: 150px;
    line-height: 30px;
    border-radius: 2rem;

    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.books_section-nav_image img {
    width: 12rem;
    height: 12rem;

    margin-left: 1rem;
}

.questions_section {
    display: flex;
    flex-direction: column;

    height: 25rem;
    width: 27rem;
}

.questions_section-img img {
    width: 12rem;
    height: 6rem;
}