.hex__cta {
    background: var(--gradient-bar);

    display: flex;
    flex-direction: row;


    margin: 4rem;
    padding: 2rem;
    border-radius: 1rem;
}

.hex__cta-content h3 {
    color: greenyellow;

    font-size: 24px;
    font-weight: 800;
    font-family: var(--font-family);

    line-height: 45px;
}

.hex__cta-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 2rem;
}

.hex__cta-btn button {
    color: #8d00eb;
    background: #fff700;

    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family);
    
    margin: 10px;
    padding: 0.5rem 1rem;
    min-width: 150px;
    line-height: 30px;
    border-radius: 2rem;

    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

@media screen and (max-width: 770px) {
    .hex__cta-btn {
        display: flex;
        flex-direction: column;
    }

    .hex__cta-btn button {
        font-size: 20px;
        line-height: 30px;
    }
}

@media screen and (max-width: 650px) {
    .hex__cta {
        margin-left: 2.7rem;
        flex-direction: column;
    }

    .hex__cta-btn {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .hex__cta {
        flex-direction: column;
    }

    .hex__cta-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .hex__cta-btn {
        display: flex;
        flex-direction: column;
    }

    .hex__cta-btn button {
        font-size: 14px;
        line-height: 28px;
    }
}