.hex__sign-up_form {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 7rem;
}

.hex__sign-up_text {
    color: yellow;
}

.hex__sign-up_form button {
    color: yellow;
    background: purple;

    font-size: 20px;
    font-family: var(--font-familiy);

    margin-top: 2rem;
    margin-bottom: 20rem;

    padding: 0.5rem 1rem;
    line-height: 25px;

    border: 0;
    border-radius: 5px;

    cursor: pointer;
    outline: none;
}

.hex__sign-up_form-label {
    margin: 1rem;
    display: flex;
}

.hex__sign-up_form-label p {
    color: greenyellow;

    display: flex;
    flex-direction: row;

    font-size: 25px;
    margin-right: 2rem;
}

.hex__sign-up_form-label input {
    background-color: yellow;

    border-style: ridge;
    border-color: purple;
    border-width: 10px;
    border-radius: 1rem;

    padding: 10px;
}

@media screen and (max-width: 550px) {
    .hex__sign-up_form button {
        margin-bottom: 8rem;
    }
}