@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-bar: linear-gradient(103.22deg, #ff0000 -13.86%, #420000 99.55%);
  --gradient-text: linear-gradient(89.97deg, #fff700 1.84%, #de7cff 102.67%);
  --gradient-footer: linear-gradient(89.97deg, #ffe600 1.84%, #f500e8 102.67%);
  --gradient-store-bar: linear-gradient(103.22deg, #55ff00 -13.86%, #007a70 99.55%);
  
  --color-bg: #040C18;
  --color-blog: #042c54;
  --color-text: #a4ff07;
  --color-footer: #3b0f61;
  --color-subtext: #FF8A71;
}