.hex__footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hex__footer-heading {
    width: 100%;
    text-align: center;

    margin-bottom: 3rem;
}

.hex__footer-heading h1 {
    font-size: 64px;
    font-weight: 800;
    font-family: var(--font-family);

    line-height: 75px;
}

.hex__footer-people {
    display: flex;
}

.hex__profile img {
    width: 500px;
    height: 500px;
}

.hex__profile h1 {
    color: yellow;
    text-align: center;
}

.hex__profile p {
    color: greenyellow;
    text-align: center;

    font-size: 20px;
    padding-top: 2rem;
}

@media screen and (max-width: 850px) {
    .hex__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 770px) {
    .hex__footer-people {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .hex__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .hex__footer-links div {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 500px) {
    .hex__footer-people {
        display: flex;
        flex-direction: column;
    }

    .hex__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}