.hex__payment {
    display: flex;
    flex-direction: row;

    padding-bottom: 50px;
}

.hex__payment-container_book {
    background: var(--color-footer);

    display: flex;
    flex-direction: column;

    width: 384px;
    height: 670px;

    margin-top: 50px;
    margin-left: 250px;
}

.hex__payment-container_book-image {
    background: var(--color-footer);

    width: 100%;
    height: 100%;
}

.hex__payment-container_book-image img {
    width: 384px;
    height: 512px;
}

.hex__payment-container_book-content {
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 1rem 1.5rem;
    font-family: var(--font-family);
}

.hex__payment-container_book-content p {
    color: #fbff00;

    font-size: 20px;
    font-weight: 700;
    font-family: var(--font-family);

    margin-top: 15px;
    line-height: 25px;
}

.hex__payment-container_book-content p:last-child {
    padding-bottom: 40px;
}

.hex__payment-form-header {
    color: #fbff00;

    margin-top: 100px;
    margin-left: 200px;

    font-family: var(--font-family);
}

.hex__payment-form-group {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;

    padding: 15px;
}

.hex__payment-form-row {
	align-items: center;
}

.hex__payment-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 620px;
    margin-left: 2rem;
}

.hex__payment-btn button {
    color: #8d00eb;
    background: #fff700;

    font-size: 18px;
    font-weight: 700;
    font-family: var(--font-family);

    margin: 10px;
    padding: 0.5rem 1rem;
    min-width: 150px;
    line-height: 30px;
    border-radius: 2rem;

    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.hex__payment-result {
    display: flex;
    flex-direction: column;

    margin-left: 430px;

    padding-top: 50px;
    padding-bottom: 78px;
}

.hex__payment-result-image {
    padding-left: 95px;
}

.hex__payment-result-image img {
    width: 500px;
    height: 500px;
}

@media screen and (max-width: 990px) {
    .hex__payment {
        display: flex;
        flex-direction: column;
        padding-bottom: 25rem;
    }

    .hex__payment-container_book {
        margin-left: 12rem;
    }

    .hex__payment-form-header {
        margin-left: 15rem;
    }

    .hex__payment-form-group {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .hex__payment-btn {
        margin-left: 5rem;
    }
}

@media screen and (max-width: 550px) {
    .hex__payment {
        display: flex;
        flex-direction: column;
        padding-bottom: 25rem;
    }

    .hex__payment-container_book {
        width: 288px;
        height: 570px;
        margin-left: 3rem;
    }

    .hex__payment-container_book-image img {
        width: 288px;
        height: 384px;
    }

    .hex__payment-form-header {
        margin-left: 40px;
    }

    .hex__payment-form-group {
        margin-left: 3rem;
    }

    .hex__payment-btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 400px;
        margin-top: 2rem;
        margin-left: 1px;
    }
}