.hex__sign-up-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.hex__sign-up-navbar-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hex__sign-up-navbar-sign button {
    color: purple;
    background: yellow;

    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-familiy);

    top: 55px;
    left: 1153px;

    padding: 0.5rem 1rem;
    margin-left: 3rem;
    line-height: 25px;

    border: 0;
    border-radius: 5px;

    cursor: pointer;
    outline: none;
}

.hex__sign-up-navbar-header h1 {
    color: rgb(178, 0, 178);
    font-size: 50px;
    padding-left: 14rem;
}

@media screen and (max-width: 770px) {
    .hex__sign-up-navbar-header h1 {
        font-size: 2.3rem;
        padding-left: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .hex__sign-up-navbar-header h1 {
        font-size: 1px;
        padding-left: 1rem;
    }
}